<!DOCTYPE html>
<html lang="ar">
<head>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<title>التسجبل</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/bootstrap/css/bootstrap.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/css-hamburgers/hambergers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/css copy/aos.css')}}">
<!--===============================================================================================-->
</head>
<body>
	<style>
		.reg:hover {
		  transform: rotate(-90deg);
		}
		.reg {
		  font-size: 44;
		  transition: transform .1s ease-in-out;
		}
		.dots:hover {
		  transform: rotate(90deg);
		}
		.dots {
		  transition: transform .2s ease-in-out;
		}
		.main-alf:hover {
		  transform: scale(1.5);
		}
		.main-alf {
		  transition: transform .1s ease-in-out;
		}
	   </style>
	{% include 'inc/_navbar.html'  %} 
	<div  data-aos='zoom-out' class="position-relative m-4" style="margin: 10px;">
        <div class="progress" style="height: 1px;">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <a href="/main">
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button></a>
        <a href="/register">
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button></a>
        <a href="/sc">
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">3</button></a>
      </div>

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img data-aos="zoom-in" src="{{url_for('static', filename='img-01.png')}}" alt="IMG" >
			</div>
			 <style>
				 .container-contact1-form-btn:hover {
					color: #fff;

				 }
			 </style>
			<form class="contact1-form validate-form" action="/register/s/" method="post">
				<span data-aos="zoom-in" class="contact1-form-title"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">
					قسم التسجيل
				</span>

				<div data-aos="slide-right" class="wrap-input1 validate-input">
					<input lang="ar" class="input1" type="text" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" name="name" placeholder="الاسم الثلاثي" required	 >
					<span class="shadow-input1"></span>
				</div>

				
				<div data-aos="slide-left" class="wrap-input1 validate-input">
					<input type="number" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="input1" name="number" placeholder="الصف" max="9" required min="1">
					<span class="shadow-input1"></span>
				</div>


				<div data-aos="slide-right" class="wrap-input1 validate-input">
					<input class="input1" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" type="email" name="email" placeholder="الايميل" required>
					<span class="shadow-input1"></span>
				</div>

				<div data-aos="slide-left" class="wrap-input1 validate-input">
					<input type="phonenumber" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="input1" name="phonenumber" placeholder="رقم للتواصل" maxlength="10" required minlength="10">
					<span class="shadow-input1"></span>
				</div>


				<div data-aos="zoom-in-up" class="container-contact1-form-btn">
					<button id="/Mian/theme/inde.html" type="submit" class="contact1-form-btn">
						<span style="padding-bottom: 8px;"></span>
						ارسال
					</button>
				</div>
			</form>
		</div>
	</div>




<!--===============================================================================================-->
	<script src=""></script>
<!--===============================================================================================-->
	<script src="register/vendor/bootstrap/js/popper.js"></script>
	<script src="register/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="register/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='register/vendor/tilt/tilt.jquery.min.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!--===============================================================================================-->
	<script src="{{url_for('static', filename='register/js/main.js')}}"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>
