<!DOCTYPE html>
<html lang="ar">
<head>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<title>التسجبل</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/bootstrap/css/bootstrap.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/css-hamburgers/hambergers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='register/css copy/aos.css')}}">
<!--===============================================================================================-->
</head>
<body>
	{% include 'inc/_navbar.html'  %} 
    {% if name  %}
    <h1>{{ name }}</h1>
    {% else %}
	<div  data-aos='zoom-out' class="position-relative m-4" style="margin: 10px;">
        <div class="progress" style="height: 1px;">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <a href="/main">
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button></a>
        <a href="/register">
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button></a>
        <a href="/sc">
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">3</button></a>
      </div>

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img data-aos="zoom-in" src="{{url_for('static', filename='img-01.png')}}" alt="IMG" >
			</div>
			 <style>
				 .container-contact1-form-btn:hover {
					color: #fff;

				 }
			 </style>
			<form class="contact1-form validate-form" action="/register/s" method="POST">
				<span data-aos="zoom-in" class="contact1-form-title"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">
					قسم التسجيل
				</span>

				<div data-aos="slide-right" class="wrap-input1 validate-input">
                    {% form.hidden_tag()  %}
                    {% form.name(lang="ar" , class="input1",  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;",  placeholder="الاسم الثلاثي" ) %}
					<span class="shadow-input1"></span>
				</div>

				
				<div data-aos="slide-left" class="wrap-input1 validate-input">
                    {% form.number(style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;",  class="input1",  placeholder="الصف" , max="9", min="1" ) %}
					<input type="number"  name="number" required>
					<span class="shadow-input1"></span>
				</div>


				<div data-aos="slide-right" class="wrap-input1 validate-input">
                    {% form.email(class="input1",  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;", placeholder="الايميل") %}
					<span class="shadow-input1"></span>
				</div>

				<div data-aos="slide-left" class="wrap-input1 validate-input">
                    {% form.phone(style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;",  class="input1", placeholder="رقم للتواصل" maxlength="10",  minlength="10") %}
					<span class="shadow-input1"></span>
				</div>


				<div data-aos="zoom-in-up" class="container-contact1-form-btn">
                    {% form.sub(class="contact1-form-btn") %}
					<button type="submit" >
						<span style="padding-bottom: 8px;"></span>
						ارسال
					</button>
    	{% endif %}
				</div>
			</form>
		</div>
	</div>




<!--===============================================================================================-->
	<script src=""></script>
<!--===============================================================================================-->
	<script src="register/vendor/bootstrap/js/popper.js"></script>
	<script src="register/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="register/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', filename='register/vendor/tilt/tilt.jquery.min.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

<!--===============================================================================================-->
	<script src="{{url_for('static', filename='register/js/main.js')}}"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>
