   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no"/>
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
  a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
   <body dir="">
   <style>
    .reg:hover {
      transform: rotate(-90deg);
    }
    .reg {
      font-size: 44;
      transition: transform .1s ease-in-out;
    }
    .dots:hover {
      transform: rotate(90deg);
    }
    .dots {
      transition: transform .2s ease-in-out;
    }
    .main-alf:hover {
      transform: scale(1.5);
    }
    .main-alf {
      transition: transform .1s ease-in-out;
    }
   </style>
   <!-- Header Start -->
   <ul class="nav justify-content-center">
    <li class="nav-item">
      <a data-aos="zoom-in" style="text-decoration: none; color: black;" class="nav-link active register" aria-current="page" href="/register">
            التطيبق
      </a>
    </li>


    <li style="margin-left: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-right: 30px; font-weight: bold;" class="nav-item">
      <a data-aos="zoom-in" style="text-decoration: none; color: #21bdd3;" class="nav-link" href="/main">
        Al-Fajer
      </a>
    </li>

    
    <li class="nav-item dropdown">
    <a data-aos="zoom-in" style="color: black;" class="nav-link dropdown-toggle other" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     التواصل
    </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
          <a href=""></a><a style="text-decoration: none; color: black;" class="nav-link" target="_blank" href="/Tops"><i style="color: #70403c;" class="bi bi-reception-3"></i>   الأوائل</a>
        </li>
        <hr style="color: black;" class="dropdown-divider">
        <li class="nav-item">
          <a href="https://wa.me/+963991971733/?text= السلام+عليكم++و+رحمة+الله+و+بركاته+\nهل+يمكننا+التواصل+معكم؟"></a><a style="text-decoration: none; color: black;" class="nav-link" target="_blank" href="https://wa.me/+963991971733/?text= السلام+عليكم++و+رحمة+الله+و+بركاته+هل+يمكننا+التواصل+معكم؟"><i style="color: green;" class="bi bi-whatsapp"></i>    تواصل معنا </a>
        </li>
        <hr style="color: black;" class="dropdown-divider">
        <li class="nav-item">
          <a href="https://t.me/Dania_Husaini"></a><a style="text-decoration: none; color: black;" class="nav-link" target="_blank" href="https://t.me/Dania_Husaini"><i style="color: #5cceda; " class="bi bi-telegram"></i>    تواصل معنا </a>
        </li>
      </ul>
    </li>
  </ul>
  <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>