<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no"/>
<hr class="featurette-divider">


  <div data-aos="zoom-in" style="text-align: center;">
    <h2>  <i style="color:#40b2d7;" class="bi bi-lightning-charge"></i>   أفكار و مميزات</h2>
    <div style="height: 0px;"></div>
    <div style="text-align: center; margin-left: 20px;">
      <h2 style="color: #40b2d7;">_________</h2>
    </div>
</div>
<div class="album py-5 bg-light"></div>
    <div class="container"  style="text-align: center;">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="place">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <style>
              .row {
                transition: transform .10s;
              }
              .place:hover {
                transform: scale(1.1);
              }
              .place {
                transition: .2s ease-in-out;
              }
            </style>
            <div class="card-body" >
              <h4 style="font-weight: bold;">* First thing</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="place">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h4 style="font-weight: bold;">الطابق الثاني</h4>
              <p class="card-text">و هذا الطابق سيكون مخصص للمرحلة الاعدادية و فيه غرف خاصة كغرفة المعلوماتية { التكنولوجيا }<i class="bi bi-usb-symbol"></i> 🔬 و غرفة العلوم    </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="place">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h4 style="font-weight: bold;">* First thing</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        
  


{% include 'inc/footer.html'  %}