<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no"/>
<hr class="featurette-divider">


  <div data-aos="zoom-in" style="text-align: center;">
    <h2 dir="rtl">  <i style="color:#000000;" class="bi bi-lightning-charge"></i> آخر البوستات على  <a target="_blank" style="text-decoration: none; color: #40b2d7;" href="https://www.facebook.com/profile.php?id=100063980166039">صفحتنا</a></h2>
    <div style="height: 0px;"></div>
    <center>
      <h2 style="color: #40b2d7;">_________</h2></center>
</div>
<div class="album py-5 bg-light"></div>
    <div class="container"  style="text-align: center;">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="place">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" role="img" aria-label="Placeholder: Photo from alfajer facebook" preserveAspectRatio="xMidYMid slice" focusable="false"><title>AL-fajer-sc</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <style>
              .row {
                transition: transform .10s;
              }
              .place:hover {
                transform: scale(1.1);
              }
              .place {
                transition: .2s ease-in-out;
              }
              @media (max-width: 400px) {
                .place {
                  width: 99%;
                }

                
              }
            </style>
            <div class="card-body" >
              <h4 style="font-weight: bold;">1</h4>
              <p dir="rtl" class="card-text">
                هكذا يبدأ العلم من فكرة صغيرة 🤯حتى يصل إلى اختراعات عظيمة🥳.... 
فمن الصّف الأوّل تعلّمنا معنى كلمة 🌟موقع 🌟وتطور هذا المعنى إلى أن وصلنا لتطبيق الGPSوأصبحنا نستطيع الوصول إلى أي مكان من خلاله
إليكم مقاطع من تطبيق درس المواقع وحركة الأشياء 🎡🚖⛵️
              </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="place">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h4 style="font-weight: bold;">2</h4>
              <p class="card-text">السودوكو هي لعبة لتنمية الذكاء🧠 وتقوية مهارات التركيز🎯  فقد استفاد منها أطفال الصف الأول بهدف جديد ❤️❤️ معرفة مدى  اتقانهم للألوان 🎨باللغة الفرنسية  Sudoku est un jeu pour développer l'intelligence🧠 et augmenter les compétences de mise au point🎯. Les élèves de première class ♥️♥️ l'ont utilisé avec un nouvel objectif, qui est de savoir comment ils peuvent💯 colorer🎨 en français</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="place">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h4 style="font-weight: bold;">3</h4>
              <p class="card-text">🏃 العقل السليم في الجسم السليم 》 🧠🏃🏼 ♂️🏃 ♀️
                فراشات الصف الخامس تقدم نصائح قيمة لتكون في شكل 💪🏻👩🏻 ⚕️ حيث تشرح فوائد وأنواع الفيتامينات الموجودة في الفواكه 🍎🍓 🍊</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        

{% include 'inc/footer.html'  %}